<% movie_id = params[:id] %>
<% movie = Movie.find_by(id: movie_id) %>

<div class="row">

  <div class="col-sm-6">
    <h2>
      <%= movie.title %>
    </h2>
    <% if movie.mpaa != nil && movie.runtime != nil %>
    <h4>
      <%= movie.mpaa %>, <%= movie.runtime %> minutes
    </h4>
    <% end %>
  </div>

</div>

<div class="row">

  <div class="col-sm-3">
    <img src="<%= movie.poster_url %>" class="img-fluid">

  </div>

  <div class="col-sm-6">
    <a href="/movies/<%= movie.id %>/delete" class="float-right">
      <i class="fas fa-trash"></i>
      Delete
    </a>
    <a href="/movies/<%= movie.id %>/edit" class="pr-5 float-right">
      <i class="fas fa-pen-square"></i>
      Edit This Movie
    </a>

    <% director = Director.find_by(id: movie.director_id) %>
    <% if director != nil %>
      <p>
        Directed by <a href= "/directors/<%= movie.director_id %>"> <%= director.name %> </a>
      </p>
    <% end %>

    <p class="lead">
      <strong><%= movie.plot %></strong>
    </p>
    <p>
      <% if movie.director_id != nil && Movie.where(director_id: movie.director_id).count > 1 %>
      Other movies by this director:
      <ul>
        <% for other_movie in Movie.where(director_id: movie.director_id) %>
          <% if other_movie.title != movie.title %>
            <li><a href="/movies/<%= other_movie.id %>"><%= other_movie.title %></a></li>
          <% end %>
        <% end %>
      <% else %>
        <% if movie.director_id == nil %>
          No Director listed in database.
        <% else %>
          No other movies by this director currently in database.
        <% end %>
      <% end %>
      </ul>
    </p>
  </div>
</div>
